/languages/*        linguist-vendored
/.tx/*              linguist-vendored
/.*                 export-ignore
/*.lock		        export-ignore
/*.json             export-ignore
/codesniffer.xml    export-ignore
/phpunit.xml.dist   export-ignore
/gulpfile.js        export-ignore
/node_modules/*		export-ignore
/tests              export-ignore
/build				export-ignore
/README.md			export-ignore
/CHANGELOG.md       export-ignore