/* first row can't be deleted */
.stb-rule-row-0 .stb-close{
	visibility: hidden;
}

.column-box_id {
	width: 80px;
}

.stb-sm { 
	width:150px;
}

.stb-xsm {
	width: 15px;
}

.stb-title{ 
	margin-top:2em !important;
}

.stb-label{
	display:block;
	font-weight: bold;
	margin-bottom:6px;
}

.stb-close{ 
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	text-shadow: 0 1px 0 #fff;
	opacity: .3;
	filter: alpha(opacity=30);
}

.stb-close:hover, .stb-close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: .6;
	filter: alpha(opacity=60);
}

.post-type-scroll-triggered-box .form-table{
	table-layout:fixed;
}

.post-type-scroll-triggered-box .wp-picker-container{
	white-space: nowrap;
}

.post-type-scroll-triggered-box .wp-picker-clear,
.post-type-scroll-triggered-box .wp-picker-holder,
.post-type-scroll-triggered-box .wp-picker-input-wrap {
	background:white;
	z-index: 999 !important;
	position: absolute !important;
}

#stb-admin .status {
	display: inline-block;
	padding: 3px 6px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}

#stb-admin .status.positive {
	background-color: limeGreen;
}

#stb-admin .status.negative {
	background: #c3c3c3;
}

/* Radio Switches */
.radio-label {
	font-weight: normal;
}

.radio-label > input {
	margin-top: 0 !important;
}

/** Grid */
.stb-row{
	margin: 0 -20px;
}

.stb-col-one-third,
.stb-col-two-third {
	float: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 20px;
}

.stb-col-two-third {
	width: 66.66%;
}

.stb-col-one-third{
	width: 33.33%;
}


/* admin sidebar */
.stb-sidebar{
	margin-top: 10px;
}

.stb-box {
	background: white;
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
}

.stb-box h3,
.stb-box:first-child {
	margin-top: 0;
}

.stb-box:last-child {
	margin-bottom: 0;
}

.stb-sidebar form label {
	display: block;
	font-weight: bold;
	margin-bottom: 6px;
}

@media( max-width: 920px ) {
	.stb-row {
		margin: 0;
	}
	.stb-col-one-third,
	.stb-col-two-third {
		float: none;
		padding: 0;
		width: auto;
	}

	.stb-sidebar {
		margin-top: 40px;
	}
}