html, 
body { 
	min-height: 100%;
	height: auto;
}

.stb-center-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	text-align: center;
	z-index: 999999;
	line-height: 0;
}

.stb-center-container .stb{
	display: inline-block;
	text-align: left;
	position: relative;
}

.stb {
	position: fixed;
	z-index: 999999;
	-webkit-box-shadow: 0 0 10px 1px #333;
	-moz-box-shadow: 0 0 10px 1px #333;
	box-shadow: 0 0 10px 1px #333;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: white;

	/* reset line-height because of container line-height hack */
	line-height: normal;
	padding: 25px;
}

.stb.stb-top-left{
	top: 0; left: 0; bottom: auto; right: auto;
}

.stb.stb-top-right{
	top: 0; right: 0; bottom: auto; left: auto;
}

.stb.stb-bottom-left{
	bottom: 0; left: 0; top: auto; right: auto;
}

.stb.stb-bottom-right{
	bottom: 0; right: 0; top: auto; left: auto;
}

/* remove top & bottom margin from last child element */
.stb-content > *:first-child {
	margin-top: 0;
	padding-top: 0;
}
.stb-content > *:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

.stb-close{ 
	position:absolute; 
	right :0;
	top: 0;
	text-align:center;
	padding: 6px;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	font-size: 36px;
	font-weight: bold;
	line-height: 20px;
	color: #000;
	opacity: .5;
	filter: alpha(opacity=50);
}

.stb-close:hover, .stb-close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: .8;
	filter: alpha(opacity=80);
}

#stb-overlay {
	position: fixed;
	background: rgba(0,0,0,0.65);
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: none;
	top: 0;
	left: 0;
}
