html, 
body { 
	min-height: 100%;
	height: auto;
}

.stb-bottom-center-container,
.stb-top-center-container,
.stb-center-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	text-align: center;
	z-index: 999999;
	line-height: 0;
}

.stb-bottom-center-container {
	bottom: 0;
	top: auto;
	height: auto;
}

.stb-top-center-container {
	top: 0;
	bottom: auto;
}

.stb-bottom-center-container > div,
.stb-top-center-container > div,
.stb-center-container > div{
	display: inline-block;
	text-align: left;
}

.stb {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 999999;
	-moz-box-shadow: 0 0 10px 1px #333;
	-webkit-box-shadow: 0 0 10px 1px #333;
	box-shadow: 0 0 10px 1px #333;
	padding: 25px;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: white;


	/* reset line-height because of container line-height hack */
	line-height: initial;
}

.stb.stb-top-center,
.stb.stb-bottom-center{
	position: relative;
	bottom: 0; top: 0; right: 0; left: 0;
}

.stb.stb-top-center {
	border-top: 0 !important;
}

.stb.stb-bottom-center {
	border-bottom: 0 !important;
}

.stb.stb.stb-top-left{
	top: 0; left: 0; bottom: auto; right: auto;
	border-top: 0 !important;
	border-left: 0 !important;
}

.stb.stb.stb-top-right{
	top: 0; right: 0; bottom: auto; left: auto;
	border-top: 0 !important;
	border-right: 0 !important;
}

.stb.stb.stb-bottom-left{
	bottom: 0; left: 0; top: auto; right: auto;
	border-bottom: 0 !important;
	border-left: 0 !important;
}

.stb.stb.stb-bottom-right{
	bottom: 0; right: 0; top: auto; left: auto;
	border-bottom: 0 !important;
	border-right: 0 !important;
}

.stb.stb.stb-center {
	position: relative;
	margin: 0 auto;
	left: auto; top: auto; right: auto; bottom: auto;
}

/* remove top margin from first child element */
.stb-content > *:first-child {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

/* remove bottom margin from last child element */
.stb-content > *:last-child {
	margin-bottom:0 !important;
	padding-bottom:0 !important;
}

.stb-close{ 
	position:absolute; 
	right :0;
	top: 0;
	text-align:center;
	padding: 6px;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	font-size: 24px;
	font-weight: bold;
	line-height: 20px;
	text-shadow: 0 1px 0 #fff;
	opacity: .3;
	filter: alpha(opacity=33);
}

.stb-close:hover, .stb-close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: .6;
	filter: alpha(opacity=60);
}

#stb-overlay {
	position: fixed;
	background: rgba(0,0,0,0.65);
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: none;
	top: 0;
	left: 0;
}